
.env
*.env

config/

storages/

*.log

/build/
/dist/
/bin/
/tmp/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

# Go build
*.exe
*.out
*.test

# Dependency cache
vendor/

# Docker compose file dev
environment/
docker-compose.override.yml

# Proto generated
*.pb.go
